snippet ul
	<ul>${1:text}</ul>${2}
snippet li
	<li>${1:text}</li>${2}
#link
snippet a
	<a href="${1:url}">${2:text}</a>${3}
# django template
snippet djv
	{{ ${1:variable} }}${2}
snippet djt
	{% ${1:tag} %}${2}
